body{
	margin:0;
	padding:0;
}

.cont{
	top:0;
	position:fixed;
	width:100%;
	background:black;
	height:60px;
}
.pod_cont{
	left:27%;
	position:absolute;
	display:inline-flex;
	
	
}

.pod_cont a{
	font-size:15px;
	font-family:arial;
	border-bottom:1px solid gold;
	padding:20px;
	color:gold;
	text-decoration:none;
}
.pod_cont a:hover{
	box-shadow:0px 0px 5px 5px black;
	margin:0px;
	border-radius:25px;
	border:2px solid orange;
	color:white;
	background:black;
	transition:.4s;
	
}

.gl_text{
	padding-top:20px;
}
.text1{
	padding-top:20px;
}


.fonk{
	
	width:765px;
	margin-left:280px;
	height:100hv;
}

h2{
	font-size:30px;
	margin-top:100px;
	color:green;
	font-family:arial black;
	text-align:center;
}


.text_t{
	color:#4C5866;
	font-family:century;
}

.text_t:first-letter{
	
	color:blue;
	font-size:60px;
}

#img{
	width:765px;
}
h3{
	font-size:;
	font-family:century;
}

.text_tt{
	color:#4C5866;
	font-family:century;
}

.italic{
	padding-left:10px;
	border-left:2px solid gray;
	font-size:18px;
	font-style:italic;
}


footer{
	width:100%;
	height:70px;
	background-color:#302b2b;
}


.pod_footer{
	top:40px;
	display:flex;
	justify-content:center;
	position:relative;
	font-size:17px;
	color:white;
	font-family:century;
}