body{
	margin:0;
	padding:0;
}

.cont{
	top:0;
	position:fixed;
	width:100%;
	background:black;
	height:60px;
	z-index:4;
}
.pod_cont{
	left:27%;
	position:absolute;
	display:inline-flex;
	
}
.pod_cont a{
	font-size:15px;
	font-family:arial;
	border-bottom:1px solid gold;
	padding:20px;
	color:gold;
	text-decoration:none;
	
	
	
}
.pod_cont a:hover{
	margin:0px;
	border-radius:25px;
	border:2px solid orange;
	color:white;
	background:black;
	transition:.4s;
	
}

.gl_text{
	position:relative;
	top:20px;
}
.text1{
	position:relative;
	top:20px;
	
}


.cont2{
	margin-left:330px;
	width:665px;
	height:100hv;

}
h2{
	font-size:27px;
	text-align:center;
	margin-top:100px;
	color:green;
	font-family:arial black;
}

#img3{
	
	width:665px;
	height:300px;
}
#text1{
	font-size:17px;
	color:#4C5866;
	font-family:century;
	
}
#text{
	font-size:17px;
	color:#4C5866;
	font-family:century;
}

#text:first-letter{
	color:gray;
	font-size:60px;
}
h3{
	color:green;
	font-family:arial black;
	font-size:25px;
	
}
#text12{
	color:#4C5866;
	font-family:century;
	font-size:20px;
}
#br{
	background-color:gray;
}

.mask2 li{
	color:grren;
	margin:5px;
	border:2px solid green;
}

li{
	color:#4C5866;
	font-family:century;
}
#img2{
	width:765px;
}


.mask li{
	font-family:normal;
}

#tt{
	font-size:15px;
}
#baza {
	font-size:15px;
	color:#4C5866;
	font-family:arial;
}

h4{
	color:green;
	font-family:arial black;
	font-size:18px;
}

ul li{
	font-size:15px;
}

footer{
	width:100%;
	height:70px;
	background-color:#302b2b;
}


.pod_footer{
	top:40px;
	display:flex;
	justify-content:center;
	position:relative;
	font-size:17px;
	color:white;
	font-family:century;
}




.imggg{
margin-left:80px;
}


#text11{
	color:black;
	font-size:26px;
}



@media screen and (max-width: 1200px){
	
	#text11{
		font-size:35px;
	}
	img{
		position:relative;
		width:100%;
		width:900px;
	}
	#text12{
	font-size:50px;
}
	#tt{
	font-size:35px;
}
	
	.cont{
		height:70px;
		width:100%;
	}
	.pod_cont{
		top:4px;
		left:120px;
		display:flex;
		flex-wrap:wrap;
	}
	.pod_cont a{
		
		font-size:23px;	
		
	}
	.pod_footer{
		line-height:0;
		font-size:30px;
	}
	h4{
		font-size:40px;
	}

	ul li{
		font-size:30px;
	}
	
	#baza{
		font-size:35px;
	}
	
	#text1{
		
		font-size:40px;
	}
	h3{
		flex-wrap:wrap;
		text-align:center;
		font-size:60px;
	}
	
	h2{
		font-size:45px;
	}
	
	#text{
		font-size:30px;
	}
	
	#img3{
		position:relative;
		left:0px;
		width:900px;
	}
	#img2{
		position:relative;
		left:0px;
		width:900px;
	}
	

.cont2{
	
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	left:-270px;
	width:900px;
	position:relative;
	z-index:1;
}
}







@media screen and (max-width: 992px){
	.cont{
		height:90px;
		width:100%;
	}
	.pod_cont{
		top:15px;
		left:0px;
		display:flex;
		flex-wrap:wrap;
	}
	.pod_cont a{
		
		font-size:32px;
		
	}
	.pod_footer{
		line-height:0;
		font-size:30px;
	}
	h4{
		font-size:40px;
	}

	ul li{
		font-size:15px;
	}
	
	#baza{
		font-size:25px;
	}
	
	#text1{
		font-size:35px;
	}
	h3{
		font-size:65px;
	}
	
	h2{
		font-size:30px;
	}
	
	#text{
		font-size:26px;
	}
	
	#img3{
		position:relative;
		left:0px;
		width:800px;
	}

.cont2{
	
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	left:-235px;
	width:800px;
	position:relative;
	z-index:1;
}
}
