html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}

/*Бургер меню*/

.burger-menu{
    display: none;
}
.burger-menu_button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    width: 60px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
    filter: brightness(0.7);
}

.burger-menu_button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
    content: '';
    top: -12px;
}
.burger-menu_lines::after {
    content: '';
    top: 12px;
}


.burger-menu_active .burger-menu_lines {
    background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
    top: 0;
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu_nav {
    padding-top: 120px;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: #000000;
    overflow-y: auto;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
    right: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.burger-menu_link {
    padding: 18px 35px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
    color: #ffffff;
    border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
    border-top: 1px solid #fff;
}
.burger-menu_link:hover {
    filter: brightness(0.9);
}
.burger-menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}
  



.strelka{
    border-radius: 10px;
    cursor: pointer;
    background-color: #1523f1;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    top: 520px;
}

.pravo{
    transform: rotate(40deg);
    position: fixed;
    right: 30px;
    top: 535px;
    background-color: #ffffff;
    width: 24px;
    height: 6px;
    z-index: 3;
}

.levo{
    transform: rotate(-40deg);
    position: fixed;
    right: 45px;
    top: 535px;
    background-color: #ffffff;
    width: 24px;
    height: 6px;
    z-index: 2;
}
.center{
    transform: rotate(90deg);
    position: fixed;
    right: 35px;
    top: 544px;
    background-color: #ffffff;
    width: 30px;
    height: 6px;
    z-index: 1;
}



/*Шапка сайта и меню*/

.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), 
    url(../img/job-search-600x400.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

a{
	outline:none;
}

.navbar{
	height:70px;
}


.menu #text{
    font-family: Sedan;
	margin:2px;
	font-size:19px;
	width:110px;
}

.menu #text:hover {
	transition: all 0.5s ease;
}
.menu li{
	width:90px;
	list-style:none;
	position:relative;
}
.menu a{
	color:white;
	text-align:center;
	text-decoration:none;
	display:block;
	padding:0 10px;
	height:40px;
	line-height:40px;
	transition:.4s;
}
.menu a:hover{
    color: rgb(74, 144, 250);
}
.menu .knopka a:hover {
    color: #6D28FF;
}

.menu #text2{
    font-family: Sedan;
	margin:2px;
	font-size:18px;
	width:110px;
}
.knopka{
    border-radius: 12px;
    background: #6D28FF;
    transition: 0.3s ease-in-out;
}
.knopka:hover{
    background: white;
}




.zagolovok{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.zagolovok h3{
    color: white;
    font-size: 61px;
}

.zagolovok p{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    top: 90px;
    font-weight: bold;
    font-size: 43px;
    color: #40CF8A;
}



/*Обо мне*/

.obomne{
    margin-top: 150px;
}

.block_obomne h3{
    font-size: 40px;
    text-align: center;
}

.block_obomne p{
    font-size: 20px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}







/*Навыки*/

.block {
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    position: relative;
    width: 300px;
    height: 150px;
  }
  
  .block img {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .block__text {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
    left: 35px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 155px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block .index-img-js{
        height: 130px;
  }
  .block__text-js {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
    left: 15px;
    right: 0;
    bottom: 0;
    width: 230px;
    height: 170px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }

  .block__text-js p{
      display: flex;
      justify-content: center;
      align-items: center;
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text-js {
    opacity: 1;
  }


  .block .index-img1{
        width: 240px;
        height: 240px;
  }
  .block__text2{
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    position: absolute;
    top: 180px;
    left: 10px;
    right: 0;
    bottom: 0;
    width: 260px;
    height: 150px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text2 p{
      padding-left: 10px;
      padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text2 {
    opacity: 1;
  }

  .block__text p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text {
    opacity: 1;
  }
  .block .index-img-p{
    width: 250px;
    height: 180px;
}
  .block__text3{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    top: 150px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 200px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text3 p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text3 {
    opacity: 1;
  }


  .block .index-img-m{
    width: 320px;
    height: 260px;
}
  .block__text4{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    top: 160px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 190px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text4 p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text4 {
    opacity: 1;
  }




  
.naviki{
    background-color: #f5f5f5;
    margin-top: 150px;
}
.naviki h3{
    font-size: 40px;
    text-align: center;
   padding-top: 100px;
   padding-bottom: 150px;
}
.index-img1{
    position: relative;
    top: 130px;
    margin: 20px;
    width: 250px;
 
}
.index-img-js{
    cursor: pointer;
    margin: 50px;
    margin-top: 30px;
    width: 250px;
    height: 140px;
}
.index-img{
    cursor: pointer;
    margin: 50px;
    margin-top: 5px;
    width: 250px;
    height: 160px;
}
.index-img-p{
    cursor: pointer;
    position: relative;
    left: 30px;
    top: 160px;
    width: 270px;
    height: 180px;
}
.index-img-m{
    cursor: pointer;
    position: relative;
    top: 150px;
    left: -20px;
    width: 350px;
    height: 260px;
}

.kartinki{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 390px;
}


/*Заявка*/

.fon{
    background-attachment: fixed;
	background-image:linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), 
    url(../img/pexels-picjumbocom-210646.jpg);
	background-size: cover;
	width: 100%;
	height: 670px;
}
.work{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.cont h3{
    font-size: 30px;
    padding-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont p{
    padding-top: 30px;
    font-weight: bold;
    font-family: arial;
    color: white;
    text-align: center;
}

.work input{
	font-family: arial;
	font-weight: bold;
	border: none;
    outline: none;
	font-size: 16px;
	padding: 15px;
	margin: 10px;
	width: 500px;
	height: 50px;
}
.work textarea{
    outline: none;
    font-family: arial;
	font-weight: bold;
	font-size: 16px;
	padding: 15px;
	margin: 10px;
	width: 500px;
	height: 120px;
}
.work #knopka_input{
	background-color: #6D28FF;
	color: white;
	font-family: arial black;
	font-weight: bold;
	width: 500px;
	height: 56px;
	transition: 0.3s ease;
}
.work #knopka_input:hover{
	background: white;
    color: #6D28FF;
}
.work span{
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-top: 20px;
	color: white;
	font-size: 15px;
}


/*footer*/

footer{
    /* background-color: #363636; */
    padding-top: 120px;
    width: 100%;
    height: 200px;
}
footer p{
    padding-top: 20px;
    font-family: arial;
    font-size: 19px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: rgb(49, 60, 211);
    transition: color 0.3s ease;
}
footer a:hover{
    color: black;
}
.logo{
    display: flex;
    justify-content: center;
}
.img-logo{
    margin: 10px;
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 1400px){
    .knopka{
    border-radius: 5px;
    min-width:130px;
    background: #6D28FF;
    transition: 0.3s ease-in-out;
}
    .block__text {
        display: block;
        position: absolute;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -250px;
        top: 0px;
        left: 35px;
        right: 0;
        bottom: 0;
        width: 200px;
        min-height: 230px;
        color: white;
        opacity: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
      .block__text p{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 230px;
      }
      .block .index-img-js{
            height: 130px;
      }
      .block__text-js {
        display: block;
        position: absolute;
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: -200px;
        top: 0px;
        left: 15px;
        right: 0;
        bottom: 0;
        width: 230px;
        min-height: 170px;
        background: #383636;
        color: white;
        opacity: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
    
      .block__text-js p{
          display: flex;
          justify-content: center;
          align-items: center;
        font-size: 16px;
        text-align: center;
    }
      .block:hover .block__text-js {
        opacity: 1;
      }
    
    
      .block .index-img1{
            width: 240px;
            height: 240px;
      }
      .block__text2{
        border-radius: 10px;
        padding-left: 0px;
        padding-right: 0px;
        display: block;
        position: absolute;
        margin-top: -200px;
        margin-left: -50px;
        top: 180px;
        left: 0px;
        right: 0;
        bottom: 0;
        min-width: 320px;
        min-height: 200px;
        background: #383636;
        color: white;
        opacity: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
      .block__text2 p{
          padding-left: 10px;
          padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        font-size: 16px;
        text-align: center;
    }
      .block:hover .block__text2 {
        opacity: 1;
      }
    
      .block__text p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        font-size: 16px;
        text-align: center;
    }
      .block:hover .block__text {
        opacity: 1;
      }
      .block .index-img-p{
        width: 250px;
        height: 180px;
    }
      .block__text3{
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        position: absolute;
        margin-top: -220px;
        margin-left: -45px;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0;
        min-width: 300px;
        min-height: 200px;
        background: #383636;
        color: white;
        opacity: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
      .block__text3 p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        font-size: 16px;
        text-align: center;
    }
      .block:hover .block__text3 {
        opacity: 1;
      }
    
    
      .block .index-img-m{
        width: 320px;
        height: 260px;
    }
      .block__text4{
        border-radius: 10px;
        padding-left: 20px;
        padding-right: 20px;
        display: block;
        position: absolute;
        margin-left: -60px;
        margin-top: -200px;
        top: 160px;
        left: 0px;
        right: 0;
        bottom: 0;
        width: 280px;
        min-height: 190px;
        background: #383636;
        color: white;
        opacity: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -ms-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
      }
      .block__text4 p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 190px;
        font-size: 16px;
        text-align: center;
    }
      .block:hover .block__text4 {
        opacity: 1;
      }

.knopka{
    border-radius: 12px;
    background: #6D28FF;
    transition: 0.3s ease-in-out;
}
.menu a{
    color:white;
    text-align:center;
    text-decoration:none;
    display:block;
    padding:0 10px;
    height:40px;
    line-height:40px;
    transition:.4s;
}
.menu #text2{
    font-family: Sedan;
    margin:2px;
    font-size:25px;
    width:110px;
}
.menu #text{
    font-family: Sedan;
    margin:2px;
    font-size:25px;
    width:130px;
}
.strelka{
    border-radius: 10px;
    cursor: pointer;
    background-color: #1523f1;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 20px;
    top: 550px;
}

.pravo{
    transform: rotate(40deg);
    position: fixed;
    right: 20px;
    top: 565px;
    background-color: #ffffff;
    width: 30px;
    height: 6px;
    z-index: 3;
}

.levo{
    transform: rotate(-40deg);
    position: fixed;
    right: 40px;
    top: 565px;
    background-color: #ffffff;
    width: 25px;
    height: 6px;
    z-index: 2;
}
.center{
    transform: rotate(90deg);
    position: fixed;
    right: 29px;
    top: 575px;
    background-color: #ffffff;
    width: 30px;
    height: 6px;
    z-index: 1;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), url(../img/job-search-600x400.jpg);
    background-size: cover;
    width: 100%;
    height: 880px;
}
.zagolovok{
    top: -500px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.zagolovok h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 90px;
}

.zagolovok p{
    font-family: 'Courier New', Courier, monospace;
    top: 90px;
    font-weight: bold;
    font-size: 65px;
    color: #40CF8A;
}
.obomne{
    margin-top: -55px;
    padding-bottom: 100px;
}
.block_obomne h3{
    font-size: 50px;
    text-align: center;
}

.block_obomne p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}




/*Навыки*/

.block {
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    position: relative;
    width: 300px;
    height: 150px;
    }
    
    .block img {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    }
    
    .block__text {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 230px;
    left: 55px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    }
    .block .index-img-js{
        height: 170px;
    }
    .block__text-js {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 230px;
    left: 55px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    }

    .block__text-js p{
    font-size: 16px;
    text-align: center;
}
    .block:hover .block__text-js {
    opacity: 1;
    }


    .block .index-img1{
        position: relative;
        top: 200px;
        width: 300px;
        height: 300px;
    }
    .block__text2{
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    position: absolute;
    top: 460px;
    left: 60px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    }
    .block__text2 p{
    font-size: 16px;
    text-align: center;
}
    .block:hover .block__text2 {
    opacity: 1;
    }

    .block__text p{
    font-size: 16px;
    text-align: center;
}
    .block:hover .block__text {
    opacity: 1;
    }
    .block .index-img-p{
        position: relative;
        top: 250px;
    width: 250px;
    height: 180px;
}
    .block__text3{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    top: 460px;
    left: 40px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 120px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    }
    .block__text3 p{
    font-size: 16px;
    text-align: center;
}
    .block:hover .block__text3 {
    opacity: 1;
    }


    .block .index-img-m{
        position: relative;
        top: 250px;
    width: 320px;
    height: 260px;
}
    .block__text4{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    top: 460px;
    left: 60px;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    }
    .block__text4 p{
    font-size: 21px;
    text-align: center;
}
    .block:hover .block__text4 {
    opacity: 1;
    }




    .container{
    max-width: 1150px;
    }
.naviki{
    background-color: #f5f5f5;
    padding-bottom: 150px;
    padding-top: 150px;
}
.naviki h3{
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 150px;
}
.index-img1{
    position: relative;
    top: 130px;
    margin: 20px;
    width: 250px;
    
}
.index-img-js{
    cursor: pointer;
    margin: 50px;
    margin-top: 30px;
    width: 250px;
    height: 140px;
}
.index-img{
    cursor: pointer;
    margin: 50px;
    margin-top: 5px;
    width: 250px;
    height: 160px;
}
.index-img-p{
    cursor: pointer;
    position: relative;
    left: 30px;
    top: 160px;
    width: 270px;
    height: 180px;
}
.index-img-m{
    cursor: pointer;
    position: relative;
    top: 150px;
    left: -20px;
    width: 350px;
    height: 260px;
}

.kartinki{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 390px;
}


/*Заявка*/

.fon{
    background-attachment: fixed;
	background-image:linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), 
    url(../img/pexels-picjumbocom-210646.jpg);
	background-size: cover;
	width: 100%;
	height: 670px;
}
.work{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.cont h3{
    font-size: 40px;
    padding-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont p{
    font-size: 21px;
    padding-top: 30px;
    font-weight: bold;
    font-family: arial;
    color: white;
    text-align: center;
}

.work input{
	font-family: arial;
	font-weight: bold;
	border: none;
    outline: none;
	font-size: 21px;
	padding: 15px;
	margin: 10px;
	width: 600px;
	height: 50px;
}
.work textarea{
    outline: none;
    font-family: arial;
	font-weight: bold;
	font-size: 21px;
	padding: 15px;
	margin: 10px;
	width: 600px;
	height: 120px;
}
.work #knopka_input{
	background-color: #6D28FF;
	color: white;
	font-family: arial black;
	font-weight: bold;
	width: 600px;
	height: 56px;
	transition: 0.3s ease;
}
.work #knopka_input:hover{
	background: white;
    color: #6D28FF;
}
.work span{
	font-family: Georgia, 'Times New Roman', Times, serif;
	padding-top: 20px;
	color: white;
	font-size: 21px;
}


/*footer*/

footer{
    padding-top: 120px;
    width: 100%;
    height: 200px;
}
footer p{
    padding-top: 20px;
    font-family: arial;
    font-size: 22px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: rgb(49, 60, 211);
    transition: color 0.3s ease;
}
footer a:hover{
    color: black;
}
.logo{
    display: flex;
    justify-content: center;
}
.img-logo{
    margin: 10px;
    width: 50px;
    height: 50px;
}
}    

@media screen and (max-width: 1200px){
    .strelka{
        border-radius: 10px;
        cursor: pointer;
        background-color: #1523f1;
        width: 350px;
        height: 50px;
        position: fixed;
        right: 20px;
        top: 550px;
    }
    
    .pravo{
        transform: rotate(40deg);
        position: fixed;
        right: 20px;
        top: 565px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 3;
    }
    
    .levo{
        transform: rotate(-40deg);
        position: fixed;
        right: 40px;
        top: 565px;
        background-color: #ffffff;
        width: 25px;
        height: 6px;
        z-index: 2;
    }
    .center{
        transform: rotate(90deg);
        position: fixed;
        right: 29px;
        top: 575px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 1;
    }

.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), url(../img/job-search-600x400.jpg);
    background-size: cover;
    width: 100%;
    height: 880px;
}
.zagolovok{
    top: -500px;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.zagolovok h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: 70px;
}
.strelka{
    border-radius: 10px;
    cursor: pointer;
    background-color: #1523f1;
    width: 70px;
    height: 70px;
    position: fixed;
    right: 30px;
    top: 1050px;
}

.pravo{
    transform: rotate(40deg);
    position: fixed;
    right: 38px;
    top: 1070px;
    background-color: #ffffff;
    width: 30px;
    height: 8px;
    z-index: 3;
}

.levo{
    transform: rotate(-40deg);
    position: fixed;
    right: 58px;
    top: 1070px;
    background-color: #ffffff;
    width: 30px;
    height: 8px;
    z-index: 2;
}
.center{
    transform: rotate(90deg);
    position: fixed;
    right: 43px;
    top: 1080px;
    background-color: #ffffff;
    width: 40px;
    height: 8px;
    z-index: 1;
}
.zagolovok p{
    top: 90px;
    font-weight: bold;
    font-size: 55px;
    color: #40CF8A;
}
.obomne{
    margin-top: -55px;
}
.block_obomne h3{
    font-size: 40px;
    text-align: center;
}

.block_obomne p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 25px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
}

@media screen and (max-width: 991px){
    .strelka{
        border-radius: 10px;
        cursor: pointer;
        background-color: #1523f1;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        top: 550px;
    }
    
    .pravo{
        transform: rotate(40deg);
        position: fixed;
        right: 20px;
        top: 565px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 3;
    }
    
    .levo{
        transform: rotate(-40deg);
        position: fixed;
        right: 40px;
        top: 565px;
        background-color: #ffffff;
        width: 25px;
        height: 6px;
        z-index: 2;
    }
    .center{
        transform: rotate(90deg);
        position: fixed;
        right: 29px;
        top: 575px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 1;
    }
.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), url(../img/job-search-600x400.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}
.burger-menu{
    display: block;
}
#nomer{
    display: none;
}
.zagolovok{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 140px;
    text-align: center;
}
.zagolovok h3{
    color: white;
    font-size: 60px;
}

.zagolovok p{
    padding-top: 0px;
    font-weight: bold;
    font-size: 50px;
    color: #40CF8A;
}


.fon{
    margin-top: 300px;
}

/*Обо мне*/

.obomne{
    margin-top: -120px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_obomne h3{
    font-size: 40px;
    text-align: center;
}

.block_obomne p{
    font-size: 20px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}









.block {
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    position: relative;
    width: 300px;
    height: 150px;
  }
  
  .block img {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .block__text {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    top: 0px;
    left: 35px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 155px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block .index-img-js{
      margin-top: 100px;
        height: 130px;
  }
  .block__text-js {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 90px;
    top: 0px;
    left: 15px;
    right: 0;
    bottom: 0;
    width: 230px;
    height: 170px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }

  .block__text-js p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text-js {
    opacity: 1;
  }


  .block .index-img1{
      margin-top: 0px;
      margin-left: 20px;
        width: 240px;
        height: 240px;
  }
  .block__text2{
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    position: absolute;
    margin-top: 0;
    top: 90px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 270px;
    height: 150px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text2 p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text2 {
    opacity: 1;
  }

  .block__text p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text {
    opacity: 1;
  }
  .block .index-img-p{
      margin-top: 40px;
      margin-left: 0px;
    width: 230px;
    height: 160px;
}
  .block__text3{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    margin-top: 0;
    top: 170px;
    left: 0px;
    right: 0;
    bottom: 0;
    min-width: 270px;
    height: 200px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text3 p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text3 {
    opacity: 1;
  }


  .block .index-img-m{
      margin-top: 30px;
      margin-left: -0px;
    width: 300px;
    height: 240px;
}
  .block__text4{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    margin-top: 0;
    top: 180px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 190px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text4 p{
    font-size: 16px;
    text-align: center;
}
.kartinki{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 500px;
}

.index-img1{
    position: relative;
    top:60px;
    margin: 50px;
    width: 250px;
 
}
.index-img-js{
    cursor: pointer;
    margin: 50px;
    margin-top: 150px;
    width: 250px;
    height: 140px;
}
.index-img{
    margin: 60px;
    margin-top: 0px;
    width: 150px;
    height: 200px;
}
.index-img-p{
    margin-top: 120px;
    margin-left: -20px;
    width: 250px;
    height: 180px;
}
.index-img-m{
    margin-top: 120px;
    margin-left: 50px;
    width: 300px;
    height: 260px;
}
.fon{
    margin-top: 0px;
}
}

@media screen and (max-width: 768px){
    .strelka{
        border-radius: 10px;
        cursor: pointer;
        background-color: #1523f1;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        top: 550px;
    }
    
    .pravo{
        transform: rotate(40deg);
        position: fixed;
        right: 20px;
        top: 565px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 3;
    }
    
    .levo{
        transform: rotate(-40deg);
        position: fixed;
        right: 40px;
        top: 565px;
        background-color: #ffffff;
        width: 25px;
        height: 6px;
        z-index: 2;
    }
    .center{
        transform: rotate(90deg);
        position: fixed;
        right: 29px;
        top: 575px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 1;
    }
    
.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), url(../img/job-search-600x400.jpg);
    background-size: cover;
    width: 100%;
    height: 573px;
}
.zagolovok{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 200px;
    text-align: center;
}
.zagolovok h3{
    color: white;
    font-size: 48px;
}
    
.zagolovok p{
    padding-top: 0px;
    font-weight: bold;
    font-size: 38px;
    color: #40CF8A;
}





.obomne{
    margin-top: -200px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_obomne h3{
    font-size: 40px;
    text-align: center;
}

.block_obomne p{
    font-size: 18px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


/*Навыки*/


.block {
    font-family: sans-serif;
    cursor: pointer;
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .block img {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .block__text {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    top: 0px;
    left: 35px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 155px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block .index-img-js{
      margin-top: 100px;
        height: 130px;
  }
  .block__text-js {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0px;
    top: 0px;
    left: 25px;
    right: 0;
    bottom: 0;
    width: 230px;
    height: 170px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }

  .block__text-js p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text-js {
    opacity: 1;
  }


  .block .index-img1{
      margin-top: 0px;
      margin-left: 20px;
        width: 240px;
        height: 240px;
  }
  .block__text2{
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    position: absolute;
    margin-top: 0;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 270px;
    height: 150px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text2 p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text2 {
    opacity: 1;
  }

  .block__text p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text {
    opacity: 1;
  }
  .block .index-img-p{
      margin-top: -120px;
      margin-left: 0px;
    width: 230px;
    height: 160px;
}
  .block__text3{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    margin-top: 0;
    top: 20px;
    left: 0px;
    right: 0;
    bottom: 0;
    min-width: 270px;
    height: 200px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text3 p{
    font-size: 16px;
    text-align: center;
}
  .block:hover .block__text3 {
    opacity: 1;
  }


  .block .index-img-m{
      margin-top: -100px;
      margin-left: -0px;
    width: 300px;
    height: 240px;
}
  .block__text4{
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    position: absolute;
    margin-top: 0;
    top: 60px;
    left: 0px;
    right: 0;
    bottom: 0;
    width: 280px;
    height: 190px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .block__text4 p{
    font-size: 16px;
    text-align: center;
}
.kartinki{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 700px;
}



.naviki{
    background-color: #F4F4F4;
    margin-top: 150px;
}
.naviki h3{
    font-size: 30px;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 50px;
}

.index-img1{
    position: relative;
    top:-20px;
    margin: 30px;
    width: 250px;
 
}
.index-img-js{
    position: relative;
    top: -80px;
    left: 20px;
}
.index-img{
    margin: 60px;
    margin-top: 5px;
    width: 150px;
    height: 200px;
}
.index-img-p{
    margin-top: -65px;
    margin-left: -15px;
    width: 250px;
    height: 180px;
}
.index-img-m{
    margin-left: -0px;
    margin-top: 50px;
    width: 300px;
    height: 260px;
}


.kartinki{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -600px;
}
.fon{
    margin-top: 0px;
}
}


@media screen and (max-width: 576px){

    .strelka{
        border-radius: 10px;
        cursor: pointer;
        background-color: #1523f1;
        width: 50px;
        height: 50px;
        position: fixed;
        right: 20px;
        top: 550px;
    }
    
    .pravo{
        transform: rotate(40deg);
        position: fixed;
        right: 20px;
        top: 565px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 3;
    }
    
    .levo{
        transform: rotate(-40deg);
        position: fixed;
        right: 40px;
        top: 565px;
        background-color: #ffffff;
        width: 25px;
        height: 6px;
        z-index: 2;
    }
    .center{
        transform: rotate(90deg);
        position: fixed;
        right: 29px;
        top: 575px;
        background-color: #ffffff;
        width: 30px;
        height: 6px;
        z-index: 1;
    }
.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), url(../img/job-search-600x400.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
}
.zagolovok{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -450px;
    text-align: center;
}

.zagolovok h3{
    line-height: 50px;
    padding-top: 0px;
    color: white;
    font-size: 32px;
}
    
.zagolovok p{
    padding-top: 0px;
    font-weight: bold;
    font-size: 32px;
    color: #40CF8A;
}



.obomne{
    margin-top: -200px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_obomne h3{
    font-size: 40px;
    text-align: center;
}

.block_obomne p{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}



 /*Заявка*/


.cont h3{
    font-size: 32px;
    padding-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont p{
    font-size: 12px;
    padding-top: 30px;
    font-weight: bold;
    font-family: arial;
    color: white;
    text-align: center;
}

.work input{
	font-family: arial;
	font-weight: bold;
	border: none;
	font-size: 16px;
	padding: 15px;
	margin: 10px;
	width: 389px;
	height: 50px;
}
.work textarea{
    font-family: arial;
	font-weight: bold;
	font-size: 16px;
	padding: 15px;
	margin: 10px;
	width: 389px;
	height: 120px;
}
.work #knopka_input{
	background-color: #6D28FF;
	color: white;
	font-family: arial black;
	font-weight: bold;
	width: 389px;
	height: 56px;
	transition: 0.3s ease;
}
}



@media screen and (max-width: 400px){
.header{
    background-image:linear-gradient(rgba(0,0,0,0.75), rgba(35, 107, 45, 0.15)), url(../img/job-search-600x400.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}

.zagolovok{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -360px;
    text-align: center;
}
.zagolovok h3{
    line-height: 30px;
    padding-top: 0px;
    color: white;
    font-size: 25px;
}
        
.zagolovok p{
    margin-top: -50px;
    font-weight: bold;
    font-size: 27px;
    color: #40CF8A;
}


.obomne{
    margin-top: -170px;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_obomne h3{
    font-size: 35px;
    text-align: center;
}

.block_obomne p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-family: arial;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}


.block__text {
    display: block;
    position: absolute;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
    left: 55px;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 155px;
    background: #383636;
    color: white;
    opacity: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .index-img{
      position: relative;
      left: 25px;
    margin: 70px;
    width: 150px;
    height: 200px;
}
.index-img-js{
    position: relative;
    top: -130px;
    left: 30px;
    height: 130px;
}
.block__text-js {
display: block;
position: absolute;
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
top: -50px;
left: 55px;
right: 0;
bottom: 0;
width: 200px;
height: 200px;
background: #383636;
color: white;
opacity: 0;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}

.index-img1{
    position: relative;
    left: 20px;
    width: 200px;
    height: 200px;
}
.block__text2{
border-radius: 10px;
padding-left: 0px;
padding-right: 0px;
display: block;
position: absolute;
top: 0px;
left: 20px;
right: 0;
bottom: 0;
width: 260px;
height: 180px;
background: #383636;
color: white;
opacity: 0;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}
.block__text2 p{
font-size: 16px;
text-align: center;
}
.block:hover .block__text2 {
opacity: 1;
}

.block__text p{
font-size: 16px;
text-align: center;
}
.block:hover .block__text {
opacity: 1;
}
.block .index-img-p{
width: 250px;
height: 180px;
}
.block__text3{
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
display: block;
position: absolute;
top: 30px;
left: 20px;
right: 0;
bottom: 0;
width: 280px;
height: 190px;
background: #383636;
color: white;
opacity: 0;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}
.block__text3 p{
font-size: 16px;
text-align: center;
}
.block:hover .block__text3 {
opacity: 1;
}


.block .index-img-m{
width: 320px;
height: 260px;
}
.block__text4{
border-radius: 10px;
padding-left: 20px;
padding-right: 20px;
display: block;
position: absolute;
top: 70px;
left: 0px;
right: 0;
bottom: 0;
width: 290px;
height: 180px;
background: #383636;
color: white;
opacity: 0;
-webkit-transition: all 0.7s ease-in-out;
-moz-transition: all 0.7s ease-in-out;
-ms-transition: all 0.7s ease-in-out;
-o-transition: all 0.7s ease-in-out;
transition: all 0.7s ease-in-out;
}

.index-img1{
    position: relative;
    top:-20px;
    margin: 60px;
    width: 250px;
 
}
.index-img{
    margin: 80px;
    margin-left:50px;
    margin-top: 5px;
    width: 130px;
    height: 200px;
}
.index-img-p{
    margin-top: -35px;
    margin-left: 20px;
    width: 200px;
    height: 150px;
}
.index-img-m{
    margin-left: 15px;
    margin-top: 60px;
    width: 200px;
    height: 260px;
}



 /*Заявка*/

 .fon{
    margin-top: -150px;
}

.cont h3{
    font-size: 30px;
    padding-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont p{
    font-size: 10px;
    padding-top: 30px;
    font-weight: bold;
    font-family: arial;
    color: white;
    text-align: center;
}

.work input{
	font-family: arial;
	font-weight: bold;
	border: none;
	font-size: 16px;
	padding: 15px;
	margin: 10px;
	width: 300px;
	height: 50px;
}
.work textarea{
    font-family: arial;
	font-weight: bold;
	font-size: 16px;
	padding: 15px;
	margin: 10px;
	width: 300px;
	height: 120px;
}
.work #knopka_input{
	background-color: #6D28FF;
	color: white;
	font-family: arial black;
	font-weight: bold;
	width: 300px;
	height: 56px;
	transition: 0.3s ease;
}
/*footer*/

footer{
    width: 100%;
    height: 200px;
}
footer p{
    padding-top: 20px;
    font-family: arial;
    font-size: 17px;
    text-align: center;
}
.logo{
    padding-top: 0px;
    display: flex;
    justify-content: center;
}
.img-logo{
    margin: 10px;
    width: 35px;
    height: 35px;
}
}
